# Task 1

In [1]:
#solution1

name="Roshan"

print(f"Welcome to ML for deployment {name}")

Welcome to ML for deployment Roshan

In [2]:
#solution2

result=[i for i in range(2000,3201) if i%7==0 and i%5!=0]

result1=",".join(map(str,result))

result1

'2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199'

In [3]:
#solution3

fname=input("Enter your first name :")
lname=input("Enter your second name :")

print(f"The output is : {lname} {fname}")

Enter your first name :James
Enter your second name :Bond
The output is : Bond James

In [3]:
#solution 4

diam=int(input("Enter the diameter of the sphere : "))

result2=(4/3)*3.14*(diam/2)**3

print(f"The output is {result2}")

Enter the diameter of the sphere : 21
The output is 4846.59

# Task 2

In [1]:
#solution1

numbers=input("Enter the comma separated numbers :")
result3=[]
for i in numbers.split(","):
    result3.append(i)

result3

Enter the comma separated numbers :8,5,1,4

['8', '5', '1', '4']

In [2]:
#solution2

n=int(input("Enter the number :"))

for i in range(n):
    print("* "*(i+1))

for i in range(n-1):
    print("* "*(n-1-i))

Enter the number :5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [1]:
#solution3

n=input("Enter the word :")

result4=n[::-1]

result4

Enter the word :AcadGild

'dliGdacA'

In [1]:
#solution4

print("WE, THE PEOPLE OF INDIA,","\n\t","having solemnly resolved to constitute India into a SOVEREIGN, !","\n\t\t"," SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC","\n\t\t"," and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN, !
		  SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		  and to secure to all its citizens